{% extends 'base.html' %}

{% block content %}


<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br></h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <h1> Hello, welcome to our car inventory. Feel free to look around our site
        for your favorite car makes and models. We have various brands in our site and we hope that you look carefully
        for the car or cars you want to buy. You can also sell cars here and trade with another person for
        a used car. </h1>
    <div class="container p-5">
        <div class="row">
            <img src="../../static/cars-on-highways.jpeg" class="img-fluid p-5" alt="">
            <div class="d-flex align-items-center justify-content-center">
              
                <img src="../../static/87008465-cars-for-sale-stock-lot-row-car-dealer-inventory.jpg" class="img-fluid p-5" alt="">
            </div>
        </div>
    </div>
</section>

{% endblock %}